<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midterm</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">Streets Waffle Fighters</a>
        </li>
        <li>
          <a href="shop.html">Shop</a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Oops! The page you're looking for doesn't exist.</h1>
      <button>
        <a href="shop.html">Try the Shop</a>
      </button>
    </main>
  </body>
</html>
