<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midterm</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">Streets Waffle Fighters</a>
        </li>
        <li>
          <a href="shop.html">Shop</a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Waffle Fighting Equipment & Supplies</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="catalog"></tbody>
      </table>

      <form id="userInfo">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="John Doe" />
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@email.com"
          />
        </div>
      </form>

      <button id="view" class="secondary" disabled>View Invoice</button>
      <button id="download" disabled>Download Invoice</button>

      <section class="pdf-container">
        <iframe id="pdf-preview" src="" frameborder="0"></iframe>
      </section>

      <script type="module" src="js/shop.js"></script>
    </main>
  </body>
</html>
